html{
    scroll-behavior: smooth;
}

body{
    background-image: url("https://media.istockphoto.com/vectors/black-background-vector-id1167050865?k=6&m=1167050865&s=612x612&w=0&h=I-wf_Vv-MzqTfcYd8AxZKKvXGM3yC6DNNAEOHswvaMY=");
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    color:white;
    z-index: -1;
    font-family: 'Bodoni Moda', serif;
}

a{
    color: white;
    text-decoration: none;
}

/* --------- HEADER --------- */

header{
    background-color: rgb(14, 5, 48);
    height: 11vh;
    width: 100vw;
    box-shadow: white 0px 0px 10px ;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: 0.3s;
}

header a{
    padding: 2.8vh 1.5vw;
    font-size: 3vh;
    transition: 0.3s;
    font-family: monospace;
    color: white;
    text-decoration: none;
}

header a:hover{
    background-color: black;
    font-size: 3.5vh;
    color:white
}

/* ------- MAIN -------- */

section{
    width: 100vw;
    height: 100vh;
    display: flex;
}

footer{
    position: absolute;
    width: 100vw;
    height: 10vh;
    box-shadow: white 0px 0px 10px ;
    background-color: rgb(14, 5, 48);
    display: flex;
    align-items: center;
}

#welcome{
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: white 0px 0px 10px ;
    background-image: url("https://www.goodcore.co.uk/blog/wp-content/uploads/2019/08/what-is-coding.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.1s ease-in-out;
    margin-bottom: 0;
    color:white;

}

.welcomeDiv{
    color:white;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.637);
}

.welcomeDivSub{
    box-shadow: white 0px 0px 10px 10px;
    color:white;
    margin-top: 30vh;
    height: 40vh;
    padding-top: 8vh;
    background-color: rgba(0, 0, 0, 0.788);
}

.welcomeDivSub h1{
    font-size: 7vh;
    color:white;
    text-shadow: white 0px 0px 8px;
    font-family: 'Bodoni Moda', serif;
    font-weight: 300;
    
}

.welcomeDivSub p{
    font-size: 4vh;
    color:white;
    text-shadow: white 0px 0px 8px;
    font-family: 'Bodoni Moda', serif;
}


#aboutMe{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
}

.aboutMe{
    width: 100vw;
    height: 100vh;
    color:white;
    background-color: rgba(0, 0, 0, 0.747);
    box-shadow: white 0px 0px 10px 1px ;
    
    position: relative;
}

.aboutMe span{
    margin-top: 20vh;
    color:white;
}

.aboutMeTitle{
    font-size: 6.5vh;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
    font-weight: 100;
    text-shadow: white 0px 0px 8px;
    margin: 10vh 3vw;
    margin-top: 25vh;
    color:white;
}

.aboutMeArticle{
    margin: 0vh 15vw;
    color:white;
}

.aboutMe p{
    font-size: 1.5vw;
    text-align: justify;
    color:white;
}
#aboutMeImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
    color:white;
}

#aboutMeImg{
    width: 30vw;
    border-radius: 25px;
    color:white;
    border: white solid 0.5px;
}

#fedySection{
    height: 100vh;
    color:white;
}

#fedyTitleDiv{
    display: flex;
    align-items: center;
    height: 50vh;
    font-size: 15vh;
    width: 100vw;
    margin-top: 15vh;
}

#fedyTitle{
    font-size: 8vh;
}

#fedyDevelopmentSpan{
    width: 50%;
    margin: auto;
    margin-left: 10%;
}

#fedyImg{
    height: auto;
    margin-top: 10vh;
    margin-left: 10vw;
    width: 30%;
    box-shadow: white 0px 0px 10px 10px;
    position: relative;
    left: 5vw;
    border-radius: 50px;
    background-color: rgb(253, 253, 253);
    transition: 0.3s;
}

#fedyImg:hover{
    transform: scale(1.2);
}

#fedyArticle{
    margin:10vh 15vw;
    margin-top: 20vh;
}

#fedyArticle p{
    font-size: 1.5vw;
    text-align: justify;
    margin: 10vh ;
}

#projects{
    display: block;
    background-color: #100e17;
    box-shadow: white 0px 0px 10px ;
}

#projectsTitle{
    padding-top: 5vh;
}

#card-container {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: #100e17;
    padding-top: 3vh;
    scroll-behavior: smooth;

}

.myCard {
    text-decoration: none;
    color: white;
    min-width: 25vw;
    height: 60vh;
    border-radius: 16px;
    background-color: #100e17;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
    border:1px solid white;
}

.date {
    color: #8a8a8a;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem;
}

.tags div {
    font-size: 1.5vh;
    font-weight: 700;
    padding: 4px 10px;
    border: 3px solid #28242f;
    border-radius: 2rem;
}

.myCard .category-title {
    font-size: 2vh;
    color: #fff;
    margin-bottom: 1rem;
}

.myCard .article-title {
    font-size: 2.5vh;
    font-weight: 700;
}

.myCard .article-header {
    margin-bottom: auto;
    height: 15vh;
    max-width: 20vw;
}

.myCard .article-image-container{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2vh;
    width: 100%;
    height: 30vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}

.myCard .article-image-container img{
    width: auto;
    height: 100%;
    border-radius: 5px;
}



.myCard .author {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.author .info .caption {
    color: #8a8a8a;
}

.myCard:not(:first-child) {
    margin-left: -130px;
}

.myCard:hover {
    transform: translateY(-1rem);
    color: white;
    background-color: black;
}

.myCard:hover~.myCard{
    transform: translateX(130px);
}

.slideBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 2vw;
}

.btnSlide{
    height: 5vh;
    width: 47vw;
    margin: 0 0.5vw;
    border-radius: 10px;
    background-color: #161616;
    box-shadow: 0px 0px 5px 1px white;
    transition: 0.3s;
}

.btnSlide:hover{
    box-shadow: 0px 0px 5px 5px white;
    cursor: pointer;
}

.btnSlide:focus{
    border: none;
}

.cardSlider{
    
}

.colabDiv{
    height: 3vh;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.colabDiv p{
    font-size: 1.5vh;
    padding: 0;
    display: block;
    margin: 0;
}

.colabDiv h1{
    display: block;
    font-size: 1.5vh;
}

.colabDib div{
    margin:0;
}

#contact{
    height: 90vh;
    display: block;
}

.contactContainer{
    background-color: black;
    width: 100vw;
    height: 60vh;
    display: flex;
    box-shadow: white 0px 0px 10px ;
}

.contactContainerLeft{
    
    height: 60vh;
    width: 50%;
}

.contactContainerRight{
    
    width: 50%;
}

.contactContacts{
    color:black;
    margin:5% 7vw;
}

.contactContacts span a{
    display: flex;
    align-items: center;
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

.contactContacts span a:hover{
    text-shadow: 0px 0px 15px white;
    color: white;
}

.contactContacts span{
    color:white;
    display: flex; 
    align-items: center;
    font-size: 4vh;
    height: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactContacts span i{
    font-size: 7vh;
    margin-right: 2vw;
}

.contactContainerRight{
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: center;
}

.formContainer{
    height: 100%;
    width: 100%;
}

form{
    display: grid;
    width: 80%;
    margin: 5vh auto;
    height: 80%;
}

input{
    height: 4vh;
    margin: 1vh 0;
    text-indent: 1vw;
    font-size: 3vh;
    transition: 0.3s;
    border:none;
    box-shadow: none;
}

input:hover, input:focus{
    box-shadow: white 0px 0px 15px 5px ;
}

textarea{
    resize: none;
    padding: 1vh 1vw;
    margin-top: 1vh;
    font-size: 2.5vh;
    transition: 0.3s;
    border: none;
    box-shadow: none;
}

textarea:hover, textarea:focus{
    box-shadow: white 0px 0px 15px 5px ;
}

button{
    margin-top: 2vh;
    width: 40%;
    height: 5vh;
    font-size: 3vh;
    font-family: monospace;
    border: 0.5px solid white;
    box-shadow: none;
    transition: 0.3s;
    border-radius: 10px;
    color: white;
    background-color: rgb(29, 29, 29);
}

button:hover, button:focus{
    box-shadow: white 0px 0px 15px 5px ;
    cursor: pointer;
    border:0.5px solid white;
}

.footerNav{
    margin-left: 5vw;
}

.footerNav a{
    margin: 0 1.5vw;
    font-size: 5vh;
    transition: 0.2s;
    color: white;
}

.footerNav a:hover{
    text-shadow: 0px 0px 15px white;
    color: white;
}

