html{
    scroll-behavior: smooth;
}

body{
    background-image: url("https://media.istockphoto.com/vectors/black-background-vector-id1167050865?k=6&m=1167050865&s=612x612&w=0&h=I-wf_Vv-MzqTfcYd8AxZKKvXGM3yC6DNNAEOHswvaMY=");
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    color:white;
    z-index: -1;
}

a{
    color: white;
    text-decoration: none;
}

/* --------- HEADER --------- */

header{
    background-color: rgb(14, 5, 48);
    height: 10vh;
    width: 100vw;
    box-shadow: white 0px 0px 10px ;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: 0.3s;
}

header a{
    padding: 2.8vh 1.5vw;
    font-size: 3vh;
    transition: 0.3s;
    font-family: monospace;
}

header a:hover{
    background-color: black;
    font-size: 3.5vh;
}

/* ------- MAIN -------- */

section{
    width: 100vw;
    height: 100vh;
    display: flex;
}

footer{
    position: absolute;
    width: 100vw;
    height: 10vh;
    box-shadow: white 0px 0px 10px ;
    background-color: rgb(14, 5, 48);

}

#welcome{
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: white 0px 0px 10px ;
}

#welcome div{
    display: block;
}

#welcome h1{
    font-size: 7vh;
    text-shadow: white 0px 0px 8px;
}

#welcome p{
    font-size: 4vh;
    text-shadow: white 0px 0px 8px;
}

#aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe{
    width: 80vw;
    height: 65vh;
    padding: 5vh 5vw;
    background-color: rgba(0, 0, 0, 0.747);
    box-shadow: white 0px 0px 10px 1px ;
    border-radius: 30px;
    position: relative;
    }

.aboutMe h1{
    font-size: 4vh;
}

.aboutMe p{
    font-size: 3vh;
    text-align: justify;
}
#aboutMeImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0vh;
}

#aboutMeImg{
    width: 30vw;
    border-radius: 25px;
    border: white solid 0.5px;
}





